<div class="main-container contact-me">

  <div class="banner-container">
  </div>

  <div class="text">
    If you wish to contact me, please send me an e-mail at: <span class="email">duda.asfora@gmail.com</span>
  </div>

</div>