<div class="main-container contact-me">

  <div class="banner-container">
  </div>

  <div class="text">
    Don’t be shy!  Feel free to follow me on twitter or on Facebook. But please, don’t be creepy about it.

    <div class="social-container">
      <a class="twitter" href="https://twitter.com/dudasfora" target="_blank"></a>
      <a class="facebook" href="http://facebook.com/dudasfora" target="_blank"></a>
    </div>
  </div>

</div>