<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title><%= title %></title>
  </head>
  <body>
    <div id="header">
      <a href="/" class="link-logo">
        <span></span>
      </a>
    </div>
    <div class="left-panel">
      <ul id="menu" data-path="<%= @path %>">
        <li class="<%= @path == "index" ? "active" : "" %>">
          <a href="/">Me</a>
        </li>
        <li class="<%= (@path != "index" && @path != "contact-me") && @path != "stalk-me" ? "active" : "" %>">
          <a href="/archives">Work</a>
        </li>
        <li class="<%= @path == "contact-me" ? "active" : "" %>">
          <a href="/contact-me">Contact Me</a>
        </li>
        <li class="<%= @path == "stalk-me" ? "active" : "" %>">
          <a href="/stalk-me">Stalk Me</a>
        </li>
      </ul>
    </div>
    <div class="right-panel">
      <%= yield %>
    </div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
  </body>
</html>

